









        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        
                        <h1>{{users.length}}</h1>
                            <h3>Users</h3>
                            
                    </div>
                    <div class="icon-case">
                        <img src="students.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        
                        <h1>{{text.length}}</h1>
                        <h3>Gemini creation</h3>
                         
                         
                    </div>
                    <div class="icon-case">
                        <img src="teachers.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>{{url.length}}</h1>
                        <h3>URL</h3>
                    </div>
                    <div class="icon-case">
                        <img src="schools.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                       <h1>0</h1>
                         <h3>משתמשים מחוברים</h3>
                    </div>
                    <div class="icon-case">
                        <img src="income.png" alt="">
                    </div>
                </div>
            </div>



            
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Users</h2>
                        <a href="#" class="btn">View All</a>
                    </div>



                 {{#each users}}
 
                    <table>

                    
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>phone</th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <td>{{this.fullName}}</td>
                            <td>{{this.email}}</td>
                            <td>{{this.phone}}</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        </table>
{{/each}}





                </div>

                 <div class="recent-payments">
                    <div class="title">
                        <h2>Administrators</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
            
                  <table>
                    
                        <tr>
                            <th>Profile</th>
                            <th>Name</th>
                            <th>Title</th>
                        </tr>
                    
                        <tr>
                            <td><img src="#" alt=""></td>
                            <td>Neanel Azar</td>
                            <td>Website developer</td>
                        </tr>
                        <tr>
                            <td><img src="user.png" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><img src="info.png" alt=""></td>
                        </tr>
                   
                    </table></div>
                




            </div>
            
        </div>
        
    </div>

    