

  <div class="containerUrl">
    <h1>URL Shortener</h1>
  
<form action="url/shorten" method="post">
  <label for="fullUrl">Enter URL:</label>
  <input type="text" name="fullUrl" id="fullUrl" required>
  <button type="submit">Shorten</button>
</form>

    <table>
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        {{#each urls}}
          <tr>
            <td><a href="{{this.fullUrl}}" target="_blank">{{this.fullUrl}}</a></td>
            <td><a href="{{this.shortUrl}}" target="_blank">{{this.shortUrl}}</a></td>
            <td>{{this.clicks}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

