<div class="containerUrl">
    <h1>URL Shortener</h1> <!-- כותרת "מקצר כתובות URL" -->

    <form action="url/shorten" method="post">
        <label for="fullUrl">Enter URL:</label> <!-- תווית לשדה הטקסט של קלט ה-URL -->
        <input type="text" name="fullUrl" id="fullUrl" required>
        <button type="submit">Shorten</button> <!-- כפתור לקיצור ה-URL -->
    </form>

    <table>
        <thead>
            <tr>
                <th>Full URL</th> <!-- כותרת העמודה "URL מלא" -->
                <th>Short URL</th> <!-- כותרת העמודה "קישור קצר" -->
                <th>Clicks</th> <!-- כותרת העמודה "מספר הקליקים" -->
            </tr>
        </thead>
        <tbody>
            {{#each urls}} <!-- הצגת כל ה-URLs בטבלה -->
            <tr>
                <td><a href="{{this.fullUrl}}" target="_blank">{{this.fullUrl}}</a></td> <!-- קישור ל-URL המלא -->
                <td><a href="{{this.shortUrl}}" target="_blank">{{this.shortUrl}}</a></td> <!-- קישור ל-URL הקצר -->
                <td>{{this.clicks}}</td> <!-- מספר הקליקים על הקישור -->
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
