<div class="content">
    <!-- תחילת תיבת תוכן ראשית -->

    <div class="content-2">
        <!-- תיבת תוכן משנית -->

        <div class="recent-payments">
            <!-- תיבת התשלומים האחרונים -->

            <div class="title">
                <h2>Users</h2> <!-- כותרת הקטגוריה "משתמשים" -->
            </div>

            {{#each users}}
            <!-- לולאה שמרכזת את המשתמשים -->

            <table>
                <!-- טבלת משתמשים -->
                <tr>
                    <th>Name</th> <!-- כותרת העמודה "שם" -->
                    <th>Email</th> <!-- כותרת העמודה "דוא"ל" -->
                    <th>Phone</th> <!-- כותרת העמודה "טלפון" -->
                    <th>is Admin</th> <!-- כותרת העמודה "האם מנהל" -->
                    <th>Option</th> <!-- כותרת העמודה "אפשרויות" -->
                </tr>
                <tr>
                    <td>{{this.fullName}}</td> <!-- שם המשתמש -->
                    <td>{{this.email}}</td> <!-- כתובת הדוא"ל של המשתמש -->
                    <td>{{this.phone}}</td> <!-- מספר הטלפון של המשתמש -->
                    <td>{{this.isAdmin}}</td> <!-- האם המשתמש הוא מנהל -->
                    <td><button onclick="deleteUser('{{this._id}}')">Delete</button></td> <!-- כפתור מחיקת המשתמש -->
                </tr>
            </table>
            {{/each}}

            <a href="/admin/addAdmin" class="btn">Add New User/Admin</a> <!-- קישור להוספת משתמש/מנהל חדש -->

        </div>
    </div>

</div>
